# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# 微信小程序
.idea/
.vscode/
*.log
*.tmp
*.temp

# 微信开发者工具生成的文件
project.private.config.json

# 其他
*.swp
*.swo
*~
